@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,600;9..40,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
body{
    font-family: "DM Sans", sans-serif;

}
h1,h2,h3,h4,h5,h6,p{
    font-family: "DM Sans", sans-serif;
}
a{
    text-decoration: none !important;
}
/* img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
} */
/* start header */
.custom-navbar.navbar{
    background: #873D8F;
    padding: 10px 63px;
    display: flex;
    align-items: center;
}
.custom-navbar.navbar .navbar-collapse .navbar-nav
{
    display: flex;
    align-items: center;
    gap: 20px;
}
.custom-navbar.navbar .navbar-collapse .navbar-nav .nav-link img{width: 30px;}
.custom-navbar .navbar-brand img{max-width: 120px;}
/* end header */

img {max-width: 100%;height: auto;vertical-align: top;}
/* start banner section */
.banner-section{padding-top: 92px;}
.banner-leftside h2{
    color: #403B3B;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 20px;
}
.banner-leftside .button-wrapper h2{font-weight: 500;}
.banner-leftside h4{
    color: #873D8F;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 14px;
}
.banner-leftside h2 span{color: #873D8F;}
.banner-leftside .brand-logo{margin-bottom: 40px;max-width: 205px;}
.banner-leftside .btn.btn-search{
    color:#979899;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    border-radius: 10px;
    background: #F5F5F5;
    line-height: normal;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 20px;
    width: 100%;
    border: 0;
    margin-bottom: 35px;
}
.banner-leftside .btn.btn-search:active,.filter-section .btn.btn-search:active{background-color: #F5F5F5;border-color: unset;color: #979899;box-shadow: unset;}
.banner-leftside .btn.btn-search:focus,.banner-leftside .btn.btn-search:focus-visible{outline: 1px solid #873D8F;box-shadow: unset;}
.big-arrow {position: relative;top: -15px;left: 223px;rotate: 347deg;max-height: 420px;}
.appstore-image{max-width: 200px;}
.playstore-image{max-width: 167px;}
/* end banner section */

/* start zigzag section */
.zigzag1-section{position: relative;}
.zigzag1-section .zigzag-image1 img{position:absolute;left: -26%;top: -10%;width: 400px;}
.zigzag1-section .zigzag-image2 {position:absolute;right: -20px;top: 16%; z-index: 9; }
.zigzag1-section .zigzag-image2 img{max-height: 380px;}
.box-wrapper{
    padding: 30px 20px;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: -33px;
    width: 100%;
}
.box-wrapper p{color: #403B3B;font-size: 24px;font-style: normal;font-weight: 400;line-height: 40px;}
.box-wrapper p strong,.box-wrapper span{font-weight: 700;}
.arrow-image{
    position: absolute;
    rotate:32deg;
    bottom: -110px;
    left: -55px;
    height: 100%;
    max-height: 203px;
    z-index: 9;
}
.arrow-image img{max-height: 180px;}
.zigzag2-rightside{margin-top: 50px;}
.zigzag2-leftside{margin-bottom: 300px;}
.zigzag2-leftside h2{
    color: #403B3B;
    font-size: 88px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: -80px;
}
.zigzag2-leftside h2 span,.desc-wrapper h2 span{color: #873D8F;}
.zigzag-list li{
    color: #403B3B;
    font-size: 26px;
    font-style: normal;
    font-family: "DM Sans", sans-serif;
    font-weight:700;
    line-height: 50px;
}
.zigzag-list li span{font-weight: 400;}

/* start description section */
.desc-image{
    position: relative;
    left: 50px;
    top: -120%;
    height: 100%;
    max-height: 247px;
    width: 700px;
}
.desc-section{position: relative;}
.desc-section .desc-left-image{
    position: absolute;
    left: 18%;
    top: 15%;
    rotate:13.002deg;
}
.desc-section .desc-left-image img{width: 100%;max-width: 120px;}
.desc-wrapper h2{
    color: #403B3B;
    font-size: 88px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.desc-wrapper p{
    color: #403B3B;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
}
/* end description section */
/* start footer */
.footer-section{
    background: #FBBC04;
    padding: 20px 10px;
    display: flex;
    align-items: center;
}
.footer-section img{max-width: 90px;}
.footerlink-list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 42px;
}
.footerlink-list li{
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
/* end footer */

/* start modal */
.fillter-popup .modal-dialog{
    width: 100%;
    min-width: 529px;
}
.fillter-popup .modal-content{
    padding: 40px 50px;
    border-radius: 30px;
    background: #FFF;

}
.fillter-popup .modal-content .modal-header{
    display: flex;
    padding: 13px 0px;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    border: 0;
}
.fillter-popup .modal-content .modal-header .btn-close{
    position: absolute;
    right: 0;
    top: 0;
}
.fillter-popup .modal-content .modal-header .btn-close:focus{box-shadow: unset;}
.fillter-popup .modal-content .modal-body{padding: 0;}
.fillter-popup .modal-content .modal-body .close-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #dee2e6;
    margin-bottom: 34px;
}
.fillter-popup .modal-content .modal-body .close-wrapper a{
    color:#06161C;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.form-check-input[type=radio]{display: none;}
input[type=radio]+.form-check-label:before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    padding: 3px;
    margin-right: 10px;
    background-clip: content-box;
    border: 1px solid #D9D9D9;
    border-radius: 50%;
    position: relative;
    top: 4px;
}
input[type=radio]:checked+.form-check-label:before {
    background-color: #873D8F;
    border: 1px solid #873D8F;
}
.form-control.location{
    border-radius: 34px;
    border: 1px solid #c4c4c480;
    color: #3E3E3E;
    font-size: 14px;
    min-height: 42px;
    appearance: none;
    height: 47px;
    padding: 0.375rem 1.75rem;
}
.form-control.location:focus{box-shadow: unset;outline: 0;border: 1px solid;border-color:#873D8F; }
.form-control.location::placeholder{
    color: #979899;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.rating-list{
    list-style-type: none;
    display: flex;
    gap: 16px;
    cursor: pointer;
    padding: 0;
    align-items: center;
}
.rating-list li{
    border-radius: 31px;
    min-width: 64px;
    width: 100%;
    min-height: 36px;
    height: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #000;
    gap: 10px;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: 1px solid rgba(196, 196, 196, 0.50);
}
.rating-list li img{
    width: 22px;
    height: 22px;
}
.badges-list{
    list-style-type: none;
    display: flex;
    gap: 23px;
    align-items: center;
    justify-content: center;
    padding: 0;
/*    cursor: pointer;*/
}
.badges-list li{
    text-align: center;
}
.badges-list li img{
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.badges-list li p{
    color: #1E1E1E;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 8px;
/*    background: #FECF2C;*/
    padding: 3px 5px;
    cursor: pointer;
}

.badges-list li p.active{
    background: #FECF2C;
}

.fillter-popup .modal-content .modal-header h2{
    color:#06161C;
    font-size: 18px;
    font-style: normal;
    margin-bottom: 0;
    font-weight: 700;
    text-align: center;
    line-height: normal;
}
.skill-list{
    display: flex;
    align-items: center;
    padding: 0;
    cursor: pointer;
    flex-direction: column;
    list-style-type: none;
    overflow-y: scroll;
    max-height: 340px;
}
.skill-list li{
    display: flex;
/*    gap: 61px;*/
    margin-bottom: 7px;
    align-items: center;
/*    height: 49px;*/
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid #dee2e6;
    cursor: pointer;
    padding: 10px 35px 10px 21px;
}

.skill-list li .skill-img {
    width: 40px;
    cursor: pointer;
}

.skill-list li span{
    color: #000;
    font-size: 14px;
/*    padding: 10px 35px 10px 21px;*/
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
}
.skill-list li .skill-inner {
    width: 100%;
    cursor: pointer;
}

.skill-list li .skill-inner label{
    margin-bottom: 0;
    display: flex;
    align-items: center;
    gap: 61px;
}

.skill-list li .skill-active-icon svg{
    fill: #fff;
}

.skill-list li.active{
    background: #873D8F;
}

.skill-list li.active span{
    color: #ffffff;
}

.skill-list li.active .skill-img{
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(180deg);
    mix-blend-mode: color-dodge;
}
/* .skill-list li img{
    width: 20px;
    height: 20px;
} */
.filtet-button{
    border-radius: 100px !important;
    border: 1px solid #873D8F !important;
    width: 100% !important;
    color: #000 !important;
    font-size: 16px !important;
    font-style: normal !important;
    padding: 15px !important;
    font-weight: 500 !important;
    text-align: center !important;
    text-decoration: none !important;
    line-height: 20px !important;
}
.filtet-button:hover{
    background-color: #873D8F !important;
    color: #fff !important;
    border: 1px solid #873D8F !important;
}
.fillter-popup .modal-content .modal-footer{border: 0;}

.resetForm {
    cursor: pointer;
}

.resetForm::hover {
    color: #873D8F;
}
/* end modal */
/* start message offcanvas */
.chatbox.offcanvas.offcanvas-bottom{
    left: auto;
    width: 500px;
    padding: 102px 26px;
    border-radius: 20px 20px 0px 0px;
    background: #F6F6F6;
    box-shadow: 0px -4px 4px 0px rgba(0, 0, 0, 0.25);
    height: 70vh;
}
.offcanvas-backdrop.show{opacity: 1;}
.searchwrapper{
    position: absolute;
    width: 100%;
    top: 50px;
    left: 0;
    right: 0;
    max-width: 450px;
    margin: 0 auto;
}
.searchbar.form-control{
    border-radius: 10px;
    background: #EEE;
    padding: 15px 15px 15px 48px;
}
.searchbar.form-control::placeholder{
    color: #979899;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.search-icon{
    position: absolute;
    left: 15px;
    top: 15px;
    z-index: 3;
    outline: none;
}
.chatbox.offcanvas.offcanvas-bottom .offcanvas-body{
    padding: 2rem;
    min-height: 400px;
}
.boxwrapper-main{
    border-bottom: 1px solid rgba(157, 157, 157, 0.20);
    padding-bottom: 15px;
    margin-bottom: 18px;
}
.boxwrapper-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}
.boxwrapper-header .time{
    color: #9D9D9D;
    font-family: "DM Sans";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    align-items: center;
}
.boxwrapper-header h4{
    color:#06161C;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 0;
}
.boxwrapper-main .boxwrapper-body p{
    color: #3A3939;
    font-style: normal;
    font-weight: 700;
    line-height: 19px;
    margin-bottom: 0;
}
.chatbox .boxwrapper-body p{
    color: #3A3939;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
}
.boxwrapper-main img{
    width: 70px;
    height: 70px;
}
/* end message offcanvad */

/* start notification offcanvas */
.notification-box.offcanvas.offcanvas-end{
    left: auto;
    width: 380px;
    padding: 50px 30px;
    background: #F6F6F6;
    box-shadow: 0px -4px 4px 0px rgba(0, 0, 0, 0.25);
    height: 100vh;
}
.offcanvas-backdrop.show{opacity: 1;}
.notification-box .boxwrapper-body p{
    color: #3A3939;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
}
.notification-box .boxwrapper-body span{
    font-weight: 700;
}
.notification-box .boxwrapper-main img{
    width: 45px;
    height: 45px;
}
/* end notification offcanvas */

/* start filter page */
.filter-section{
    padding-top: 90px;
}
.filter-section .btn.btn-search{
    color:#979899;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    border-radius: 10px;
    background: #F5F5F5;
    line-height: normal;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 20px;
    width: 100%;
    border: 0;
    margin-bottom: 75px;
}
.filter-section h4{
    color: #873D8F;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 14px;
}

/* start advertise section */
.advertise-section,.skill-section{padding-bottom: 63px;}
.advertise-card.card{
    padding: 8px 10px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.18);
    border: 0;
    margin: 12px 5px 5px 5px;
}
.adv-tag{
    color: #FFF;
    text-align: center;
    padding: 6px 12px;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: 13px;
    font-family: 'Inter', sans-serif;
    border-radius: 31px;
    background: #873D8F;
    position: absolute;
    top: -11px;
}
.adv-tag.yellow{background: #FBBC04;}
.advertise-card .advertise-content{
    border-bottom: 1px solid rgba(157, 157, 157, 0.20);
    padding-bottom: 6px
}
.advertise-card .card-body{
    height: 100%;
    padding: 0;
}
.advertise-card .card-body .card-title{
    margin-bottom: 10px;
    margin-top: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.advertise-card .card-body .card-title img{
    object-fit: cover;
    width: 20px;
    height: auto;
}
.advertise-card .card-body .card-text{
    color: #444445;
    /* font-size: 12px; */
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
}
.advertise-card .card-footer{
    border-top: 0;
    background-color: unset;
    padding: 4px 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.advertise-card .card-footer .adv-link a,.advertise-card .card-footer .adv-info span{
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    text-decoration: none;
    line-height: normal;
}
.advertise-card .card-footer .adv-link img{
    padding-right: 10px;
    width: auto;
    display: inline-block;
}
.advertise-card .card-footer .adv-info{
    display: flex;
    gap: 10px;
    align-items: center;
}
.advertise-card .card-footer .adv-info img{
    width: 100%;
    max-width: 42px;
    object-fit: cover;
}
/* end .advertise section */
/* start skill section */
.skill-slider.owl-carousel .owl-item img{
    /* width: auto; */
    display: inline-block;}
.skill-slider .owl-dots{text-align: center;}
.skill-slider .owl-dots .owl-dot
{
    width: 12px;
    height: 12px;
    margin: 5px 7px;
    background-color: #873D8F;
    border-radius: 100%;
    text-align: center;
    display: inline-block;
}
.skill-card.card{
    padding: 18px 12px 12px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.18);
    border: 0;
    margin: 12px 5px 5px 5px;
}
.skill-card.card .skill-profile-image{width: 100% !important;}
.skill-card .advertise-content{
    border-bottom: 1px solid rgba(157, 157, 157, 0.20);
}
.skill-card .card-body{
    height: 100%;
    padding: 0;

}
.skill-card .card-body .card-title{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.skillicon-list{
    padding: 0;
    list-style-type: none;
    display: flex;
    border-bottom: 1px solid rgba(157, 157, 157, 0.20);
    align-items: center;
    padding-bottom: 10px;
}
.skill-price-tag{
    color: #FFF;
    text-align: center;
    padding: 7px 10px;
    font-size: 20px;
    width: 70px;
    height: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    border-radius: 0px 0px 10px 10px;
    background: #873D8F;
    position: relative;
    top: -40px;
    display: flex;
    align-items: center;
}
.free-tag{
    color: #FFF;
    text-align: center;
    padding: 7px 10px;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    border-radius: 0px 0px 10px 10px;
    background: #FBBC04;
    position: relative;
    top: -40px;
    display: inline-flex;
    left: -10px;
    align-items: center;
}
.free-wrapper{
    position: relative;
    left: 75px;
}
.skillicon-list li:after {
    content: '|';
    vertical-align: middle;
    color: #873D8F;;
    font-size: 30px;
    font-weight: 300;
    padding: 0 14px 0 14px;
}
.currency{
    color: #873D8F;
    font-family: 'DM Sans' sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    position: relative;
    top: 32px;
    left: -44px;
}
.skill-rating{
    border-radius: 31px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #000;
    gap: 10px;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 8px 14px;
    border: 1px solid rgba(196, 196, 196, 0.50);
}
.skill-rating img{
    width: 18px;
    height: 18px;
}
.avatar-group .avatar:first-child {
    margin-left: 0;
}
.avatar-group .avatar {
    position: relative;
    width: 2.375rem;
    height: 2.375rem;
    cursor: pointer;
}
.avatar-group .avatar img {
    width: 100%;
    height: 100%;
}
.avatar-group .avatar {
    margin-left: -1.1rem;
}
.avatar-group .avatar .pull-up:hover {
    transform: translateY(-4px) scale(1.02);
    z-index: 30;
    border-radius: 50%;
    transition: all .25s ease;
}
.location{
    display: flex;
    align-items: center;
    gap: 6px;
    color: #9D9D9D;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.location img{
    width: auto !important;
    height: 20px;
    object-fit: contain;
}
.arrow {
    position: relative;
    top: -38px;
    left: 20px;
}
.skillicon-list li:nth-child(1) img{width: 45px;object-fit: cover;}
.skillicon-list li:nth-child(2) img{width: 35px;object-fit: cover;}
.skillicon-list li:nth-child(3) img{width: 28px;object-fit: cover;}
.skillicon-list li:last-child:after {
    content: none
}
.skill-card .card-body .card-title img{
    object-fit: cover;
    width: 2.375rem;
    height: 2.375rem;
}
.skill-card .card-body .card-text{
    color: #444445;
    /* font-size: 12px; */
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
}
.skill-card .card-footer{
    border-top: 0;
    background-color: unset;
    padding: 4px 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* end skill section */
/* end filter page */
/* start profile page */
.badges-section{
    padding-top: 117px;
}
.profile-badges-list{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-bottom: 85px;
    gap: 3px;
    padding-left: 0;
    padding-bottom: 13px;
    list-style-type: none;
    border-bottom: 4px solid #D9D9D9;
    /* border-radius: 7px; */
    float: right;
}
.profile-badges-list li{
    text-align: center;
    width: 100%;
    min-width: 99px;
}
.profile-badges-list li p{margin-bottom: 0;}
.profile-content h4{
    color: #873D8F;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0;
}
.profile-content small{
    color:#06161C;
    font-family: "DM Sans", sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: block;
    margin-bottom: 33px;
}
.profile-content p{
    color: #2E2F2F;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 47px;
}
.profile-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}
.profile-icons{
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0;
    margin: 0;
    gap: 29px;
    list-style-type: none;
}
.profile-wrapper{
    margin-bottom: 52px;
}
.profile-wrapper .profileimage{
    width: 279px;
    height: 279px;
    object-fit: cover;
    margin-bottom: 19px;
}
.profile-wrapper .profile-content{
    margin-left: 64px;
}
.profile-rating{
    display: flex;
    gap: 12px;
    padding: 0;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}
.feedback-text{
    color: #464646;
    text-align: center;
    font-family: "DM Sans", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    display: block;
    line-height: normal;
}
.profile-button-wrapper{
    display: flex;
    align-items: center;
    gap: 7px;
}
.link1{
    display: flex;
    width: 100%;
    height: 104px;
    font-family: "DM Sans", sans-serif;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 7px 10px 3px 10px;
    border-radius: 20px 0px 0px 20px;
    background: #00577D;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
}
.link2{
    display: flex;
    width: 100%;
    height: 104px;
    font-family: "DM Sans", sans-serif;
    justify-content: center;
    align-items: center;
    padding: 7px 10px 3px 10px;
    border-radius: 0px 20px 20px 0px;
    background: #873D8F;
    color: #fff;
    font-size: 24px;
    gap: 10px;
    font-weight: 500;
    text-align: center;
}
.profile-maintitle{
    margin-bottom: 62px;
}
.profile-maintitle h4{
    color: #2E2F2F;
    font-size: 48px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0;
}
.add-button{
    border-radius: 50px;
    background: #873D8F;
    display: flex;
    gap: 17px;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 32px;
    padding: 13px 40px;
    font-family: 'Inter', sans-serif;
}
.profile-skill{
    margin-bottom: 62px;
}
.card.profile-skill-card{
    border-radius: 10px;
    border: 2px solid #DDD;
    background: #FFF;
    padding: 20px 30px;
}
.card.profile-skill-card .card-body .card-header{padding: 0;background-color: unset;border: 0;margin-bottom: 40px;display: flex;justify-content: space-between;align-items: center;}
.card.profile-skill-card .card-body .card-text{
    color: #7A7A7A;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 44px;
}
.card.profile-skill-card .card-footer{
    margin-top: 24px;
}
.card.profile-skill-card .card-footer .price {
    font-size: 36px;
    color: #06161C;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 0;
}
.card.profile-skill-card .card-footer sub{
    color: #06161C;
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.locationtext{
    display: flex;
    align-items: center;
    color: #7A7A7A;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 0;
}
.profile-icons-wrap{
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0;
    margin: 0;
    gap: 10px;
    list-style-type: none;
}

/* end profile page */
@media (min-width: 1400px){
.custom-navbar.navbar .navbar-collapse .navbar-nav {gap: 40px;}
.custom-navbar.navbar .navbar-collapse .navbar-nav .nav-link img{width: unset;}
.custom-navbar .navbar-brand img{max-width: unset;}
.banner-leftside h2{font-size: 64px;}
.banner-leftside h4{font-size: 32px;}
.banner-leftside .brand-logo{margin-bottom: 93px;max-width: 100%;}
.banner-leftside .btn.btn-search{font-size: 24px;padding: 22px 40px;min-width: 722px;margin-bottom: 75px;}
img {max-width: inherit;}
.big-arrow{top: -18px;left: 320px;rotate: -20deg;max-height: 370px;}
.appstore-image,.playstore-image{max-width: 100%;}
/* start zigzag section */

.zigzag1-section .zigzag-image1 img{position:absolute;left: -60px;top: -10%;width: inherit;}
.zigzag1-section .zigzag-image2 {position:absolute;right: 48.5%;top: 25%;}
.box-wrapper{padding: 50px 20px;min-width: 700px;}
.box-wrapper p{font-size: 36px;line-height: 73px;}
.zigzag1-section .zigzag-image1 img{position:absolute;left: -60px;top: -10%;}
.zigzag1-section .zigzag-image2 {position:absolute;right: 48.5%;top: 25%;}
.zigzag1-section .zigzag-image2 img{max-height: inherit;}
.arrow-image{left: -50px;max-height: 163px;}
.arrow-image img{max-height: unset;}
.zigzag2-rightside{margin-top: 0;}
.zigzag2-leftside h2{font-size: 128px;}
.zigzag2-leftside h2 span,.desc-wrapper h2 span{
    color: #873D8F;
}
.zigzag-list li{font-size: 32px;line-height: 73px;}
.zigzag-list li span{font-weight: 400;}
.zigzag2-image-01 img {
    width: 714px;
    position: relative;
}
.zigzag2-image-02 img {
    width: 736px;
    position: relative;
}
/* end zigzag section */

/* start description section */
.desc-image{
    left: 0;
    top: -79%;
    max-height: 377px;
    width: inherit;
}
.desc-section{position: relative;}
.desc-section .desc-left-image{left: 13%;}
.desc-section .desc-left-image img{max-width: unset;}
.desc-wrapper h2{font-size: 128px;}
.desc-wrapper p{font-size: 36px;line-height: 73px;}
/* end description section */

/* start footer */
.footer-section{padding: 40px 10px;}
.footer-section img{max-width: 100%;}
.footerlink-list li{font-size: 20px;}
/* end footer */
.filter-section h4{font-size: 32px;}
.filter-section .btn.btn-search{font-size: 24px;padding: 22px 40px;min-width: 722px;margin-bottom: 75px;}
.notification-box.offcanvas.offcanvas-end{width: 500px;padding: 100px 40px;}}